# Google Apps Script Web App REST API Endpoint
NEXT_PUBLIC_GAS_API_URL=https://script.google.com/macros/s/AKfycbx_EXAMPLE_SCRIPT_ID/exec

# 4-Layer Cryptographic Pipeline Secrets
# Secret Key A (256-bit / 32 characters)
NEXT_PUBLIC_AES_SECRET_KEY=EventQR256BitMasterSecretKey2026!
# Secret Key B (192-bit / 24 characters)
NEXT_PUBLIC_3DES_SECRET_KEY=Event3DESMasterSecretKey24!
# HMAC Integrity Salt
NEXT_PUBLIC_HMAC_SALT=EventQRHMACIntegritySalt2026#
# XOR Array Shift Mask (Hex byte 0x00 - 0xFF)
NEXT_PUBLIC_XOR_SHIFT_BYTE=0x5A

# Admin Scanner Gate Passcode
NEXT_PUBLIC_ADMIN_PASSCODE=admin123
